<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet' type = 'text/css' href = '/assets/style.css'/>
        <title>Red Rock Robotics - Contact Us</title>
    </head>

    <body>
             <% include partial/nav.ejs %>
             <div id= 'container'>
                <h1>Contact</h1>
                <p>Contact Page</p>
             </div>
    </body>
</html>