<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet' type = 'text/css' href = '/assets/style.css'/>
        <title>Red Rock Robotics</title>
    </head>

    <body>
             <% include partial/nav.ejs %>

             <div id = 'container'>
                <p>Home Page</p> 

             </div>
    </body>
</html>