<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet' type = 'text/css' href = '/assets/style.css'/>
        <title>Red Rock Robotics</title>
        
    </head>

    <body>
        <% include ../partial/nav.ejs %>

        <div id = 'container'>
            <h1>Our Robot</h1>
            <p>We don't have a new robot yet, check in a bit for our robot for the 2018 season.</p> 
        </div>
    </body>
</html>