<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet' type = 'text/css' href = '/assets/style.css'/>
        <title>Red Rock Robotics</title>
        
    </head>

    <body>
        <% include ../partial/nav.ejs %>

        <div id = 'container'>
            <h1>Team history</h1>
            <p>Home Page</p> 
            <p>Some More Stuff</p>
            <p>Even more stuff</p>
        </div>
    </body>
</html>