<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet' type = 'text/css' href = '/assets/style.css'/>
        <title>Red Rock Robotics - About</title>
    </head>

    <body>
             <% include ../partial/nav.ejs %>

             <div id = 'container'>
                <h1>About us</h1>

                <h1>
                     Red Rock Robotics, team 3006, is West High School’s FIRST Robotics team.
                      Our primary focus is the FIRST Robotics Competition, an international 
                      high school competition that aims to give students engineering experience 
                      in the real world.
                </h1>
                <p>
                    Our mission is to foster skills in engineering, leadership, and teamwork 
                    in all its members through the process of creating a competitive and 
                    innovative robot. Red Rock Robotics strives to be competitive while 
                    remaining gracious, recognizing that competition is mutually beneficial 
                    to all the competitors in the FIRST Robotics Competition. Our team also 
                    focuses upon innovation, respect to each other and our competitors, and 
                    giving back to our community.
                </p> 
                <p>
                    Red Rock Robotics is in its 6th year of competition and has over thirty 
                    members. We seek to break the barrier that prevents many young students 
                    from pursuing careers in engineering by demonstrating that engineering is 
                    fun, applicable, and challenging. Our team hopes to encourage diversity within 
                    engineering, science, and technology fields through helping students find 
                    a place where they are comfortable to explore and challenge themselves in 
                    these fields. Participation in robotics helps students develop skills in 
                    engineering, design, teamwork, leadership, and business.
                </p>
                <p>
                    Our team has a history of performance, originating from its rookie year competing
                    in the Las Vegas Regional Competition. Red Rock Robotics was among the first teams 
                    in Utah, and has competed in the Utah Regional Competition every year it has been held. 
                    Last year, our team won the Idaho Regional, making it to Worlds held in Houston, Texas. 
                    We managed to finish our season in the top 6% of teams worldwide.
                </p>
                
             </div>
    </body>
</html>