<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet' type = 'text/css' href = '/assets/style.css'/>
        <title>Red Rock Robotics</title>
        
    </head>

    <body>
        <% include ../partial/nav.ejs %>

        <div id = 'container'>
            <h1>What is FIRST robotics?</h1>
            <p>
                FIRST (For Inspiration and Recognition of Science and Technology) 
                is an international program of team robotics competitions for grades 
                k-12, split into four competition divisions based off of age group. 
            </p> 
            <ul>
                <li>
                    Jr. FLL: FIRST LEGO League Jr., grades k-4, uses LEGO mechanics 
                    to create motorized models, models shown individually via tabletop 
                    demonstration
                </li>
                <li>
                    FLL: FIRST LEGO League, grades 4-8, uses LEGO Mindstorms to build 
                    fully autonomous robots to complete LEGO challenges, functions on 
                    a tabletop board individually with two fields sitting back-to-back 
                    and running at the same time
                </li>
                <li>
                    FTC: FIRST Tech Challenge, grades 7-12, uses TETRIX and external 
                    components to build robots which function both autonomously and via 
                    driver control to score points, played on a floor-top field consisting 
                    of four robots per match in teams of two
                </li>
                <li>
                    FRC: FIRST Robotics Competition, grades 9-12, uses external components 
                    to build robots which function both autonomously and via driver control 
                    to score points, played on a basketball court sized field consisting of 
                    six robots per match in teams of three
                    </li>
            </ul>
            <h2>FRC</h2>
            <p>
                The highest level of FIRST competitions, and the original FIRST program 
                (founded 1989). This is the level team 3006 competes at. Each match lasts 
                2.5 minutes and is divided into two periods. The first period is autonomous 
                (typically the first 15 seconds), in which robots score points based off of 
                pre-programmed instructions and sensor-input. The second period of play is 
                tele-operated (tele-op), in which the robots are controlled via a team of 
                human drivers. The final 30 seconds of the match (within the tele-op period) 
                are called “end game”, in which the constraints and/or ways to score points 
                are altered for special final tasks.
            </p>
        </div>
    </body>
</html>