<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet' type = 'text/css' href = '/assets/style.css'/>
        <title>Red Rock Robotics</title>
        
    </head>

    <body>
        <% include ../partial/nav.ejs %>

        <div id = 'container'>
            <h1>Team history</h1>
            <h2>2009</h2>
                <p>Team founded, competed at the Las Vegas Regional, won Rookie All-Star Award, based in U of U physics department</p>

            <h2>2010</h2>
                <p>Utah Regional founded, competed at Utah, attended World Championship for previous rookie award.</p>

            <h2>2011</h2>
                <p>Competed at Utah Regional.</p>
            <h2>2012</h2>
                <p>Competed at Utah Regional, made quarterfinals.</p>
            <h2>2013</h2>
                <p>Moved to West High new tech wing, Competed at Utah Regional.</p>
            <h2>2014</h2>
                <p>Competed at Utah Regional</p>
            <h2>2015</h2>
                <p>Competed at Utah regional, selected for alliance and made it to the semifinals, marketing captain Annie Yun selected as Dean’s List Finalist.</p>
            <h2>2016</h2>
                <p>Competed at Utah regional.</p>
            <h2>2017</h2>
                <p>Competed at Utah & Idaho Regionals, selected and made it to the semifinals at Utah, won finals and the Industrial Design Award at Idaho, attended World Championship for Idaho victory</p>
        </div>
    </body>
</html>