<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet' type = 'text/css' href = '/assets/style.css'/>
        <title>Red Rock Robotics - Hardware Resources</title>
        
    </head>

    <body>
        <% include ../partial/nav.ejs %>

        <div id = 'container'>
            <h1>Hardware Page</h1>
            <p>Check back in a bit</p>
        </div>
    </body>
</html>