<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet' type = 'text/css' href = '/assets/style.css'/>
        <title>Red Rock Robotics - Safety Resources</title>
        
    </head>

    <body>
        <% include ../partial/nav.ejs %>

        <div id = 'container'>
            <h1>Safety Page</h1>
            <p>Drive with all safety documents: <a href = 'https://drive.google.com/drive/folders/0B6no2gzwQWoIVkhZYnBpdFpfVnc?usp=sharing'>Drive</a></p>
        </div>
    </body>
</html>