<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet' type = 'text/css' href = '/assets/style.css'/>
        <title>Red Rock Robotics - Software Resources</title>
        
    </head>

    <body>
        <% include ../partial/nav.ejs %>

        <div id = 'container'>
            <h1>Software Resources</h1>
            <p>Below is a list of learning resources for the software team. I do not own or claim to own any of these. So use them I guess. Or not.</p> 
            
            <h2>Java Resources</h2>

            <p>Drive with all the Java and other code we've been covering: <a href = 'https://drive.google.com/drive/folders/0B-jFpdBbmS-NMEpIVmtRaTJLM2s?usp=sharing'>Drive</a></p>

            <h2>Javascript Resources</h2>

            <p>A great tutorial series on Node.js: <a href = 'https://www.youtube.com/watch?v=w-7RQ46RgxU&list=PL4cUxeGkcC9gcy9lrvMJ75z9maRw4byYp'>Node.js Tutorial</a></p>

            <p>Some great free online books for learning more advanced javascript: <a href = 'https://github.com/getify/You-Dont-Know-JS'>You Don't Know Javascript</a></p>

            <h3>Downloads</h3>

            <p><a href = 'nodejs.org'>Node.js</a></p>

            <h2>Style Guidelines</h2>

            <p>The style guidelines for the team robot code this year: <a href = '/assets/SoftwareStyleGuidelines.pdf' download>Style Guidelines</a></p>

            <h2>Git</h2>

            <p>The Git website: <a href = 'https://git-scm.com/'>Git</a>. I would recommend downloading git bash.</p>
            <p>There is a great textbook on using git here: <a href = 'https://git-scm.com/book/en/v2'>Pro Git</a></p>

            <p>The Github repo for the team code: <a href = '#'>Robot Code</a></p>
            <p>The Github repo for the website code: <a href = 'https://github.com/Closure-Man/Website'>Website Code</a></p>

            <h2>Addtional Resources</h2>

            <h3>Clojure</h3>

            <p>A free online textbook on clojure: <a href = 'http://www.braveclojure.com/clojure-for-the-brave-and-true/'>Clojure for the Brave and True</a></p>
            <p>The Clojure website to download the language: <a href = 'https://clojure.org'>Clojure Programming Language</a></p>

            <h3>Python</h3>

            <p>The Python website to download the language and get started: <a href = 'www.python.org'>Python</a></p>
            
            <h3>IDEs and Other Things</h3>

            <p>Visual Studio Code, a fabulous IDE for using node.js and javascript: <a href = 'https://code.visualstudio.com/'>Visual Studio Code</a></p>
            
        </div>
    </body>
</html>