body
{
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}

.sub-nav
{
    padding-top:1.2%;
    padding-bottom: 1.2%;
}

.sub-nav:hover
{
    background-color: #B03000;
}

#container
{
    width: 85%;
    margin-left: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

#nav
{
    position: fixed;
    width: 100px;
    height: 500px;
    background: orangered;
}

#nav a:link
{
    color: black;
    text-decoration-line: none;
}

#nav a:visited
{
    color: black;
    text-decoration-line: none;
}
#nav a:hover
{
    color: white;
    text-decoration-line: none;
}

#current
{
    background-color: #B03000;
}