@import("https://fonts.googleapis.com/css?family=Assistant|Catamaran:300|Quicksand");

body
{
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f3e3;
}

h1
{
    font-family: 'Segoe UI', Verdana, sans-serif;
}

.hidden
{ 
    visibility: hidden;
}
.center
{
    /*padding-top:30%;*/
}
.sub-nav
{
    padding-top:13px;
    padding-bottom: 13px;
    padding-left: 4%;
    padding-right:5%;
    display: inline;
    float: left;
    cursor: pointer;
}

.sub-nav:hover
{
    background-color: #600;
}

#container
{
    width: 85%;
    margin-left: 8.33%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 3%;
}

#nav
{
    list-style-type:  none;
    width: 50%;
    height: 47px;
    margin-left: 25%;
    padding-left: 0%;
    background: #900;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family: 'Assistant';
    box-shadow: 3px 3px 3px #888888;
}

#nav a:link
{
    color: #ccc;
    text-decoration-line: none;
}

#nav a:visited
{
    color: #ccc;
    text-decoration-line: none;
}
#nav a:hover
{
    color: white;
    text-decoration-line: none;
}

#logo
{
    padding-top: 20%;
    padding-left: 47%;
}

#current
{
    background-color: #600;
}

#resourcesDropDown
{
    position: relative;
    display: inline-block;
}