@import url("https://fonts.googleapis.com/css?family=Assistant|Catamaran:300|Quicksand");

body
{
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f3e3;
    overflow-x: hidden;
}

h1
{
    font-family: 'Segoe UI', Verdana, sans-serif;
}

h2
{
    padding-left: 1%
}

h3
{
    padding-left: 1.5%;
}

p
{
    padding-left: 2%;
}

.contactEntry
{
    padding-left : 0%;
}

.sub-nav
{
    float: left;
    cursor: pointer;
    color: #ccc; 
    width: 10%;
    height: 100%;
    font-size: 2vh;
    text-align: center;
}

.sub-nav:hover
{
    background-color: #600;
}

.sub-nav span{
    height: 100%;
    padding-top: 6%;
    display: block;
    text-align: center;
    margin-bottom: -6%;
}

#container
{
    background: #D1CFC9;
    /*#EBE8DF*/
    width: 60%;
    margin-left: 25%;
    margin-top: 5%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 2%;
}

#nav
{
    position: absolute;
    list-style-type:  none;
    width: 75.6%;
    height: 5.1%;
    margin-left: -1%;
    padding-left: 25%;
    background: #900;
    font-family: 'Assistant';
    box-shadow: 3px 3px 3px #888888;
    padding-top: 0%;
    margin-top: 0%;
}

#nav a:link
{
    color: #ccc;
    text-decoration-line: none;
}

#nav a:visited
{
    color: #ccc;
    text-decoration-line: none;
}
#nav a:hover
{
    color: white;
    text-decoration-line: none;
}

#logo
{
    padding-top: 20%;
    padding-left: 47%;
}

#current
{
    background-color: #600;
}

/*Dropdown Stuff*/
.dropDownContent
{
    visibility: hidden;
    padding: 0;
    margin-top: 0;
    background-color: #900;
    position: absolute;
    display: block;
    z-index: 1;
    min-width: 8%;
    font-size: 1.75vh;
    box-shadow: 2px 2px 2px #888888;
}


.dropDownContent a
{
    display: block;
    width: 100%;
    height: 40%;
    padding-top: 5%;
    padding-bottom: 5%;
    
}


.dropDownContent a:hover
{
    background-color: #600;
    color: white;
}

.dropdown:hover .dropDownContent
{
    visibility: visible;
}