<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet' type = 'text/css' href = '/assets/style.css'/>
        <title>Red Rock Robotics</title>
        
    </head>

    <body>
        <% include ../partial/nav.ejs %>

        <div id = 'container'>
            <h1>Sponsors</h1>
            <h2>Biofire</h2>
            <h2>Andeavor</h2>
            <h2>STEM Action Center</h2>
            <h2>Department of Defense</h2>
            <h2>TSLOTS Futura Industries</h2>
            <h2>Biofire</h2>
            <h2>University of Utah Physics Department</h2>
            <h2>Salt Lake Education Foundation</h2>
            <h2>Alsco</h2>
        </div>
    </body>
</html>