<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet' type = 'text/css' href = '/assets/style.css'/>
        <title>Red Rock Robotics</title>
        
    </head>

    <body>
        <% include ../partial/nav.ejs %>

        <div id = 'container'>
            <h1>Sponsorship Packages</h1>
            <p>If you're interested in sponsoring are team contact us through our contact page by talking with our Marketing Captain</p>

        </div>
    </body>
</html>