<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet' type = 'text/css' href = '/assets/style.css'/>
        <title>Red Rock Robotics</title>
        
    </head>

    <body>
        <% include ../partial/nav.ejs %>

        <div id = 'container'>
            <h1>Sponsorship Packages</h1>
            <p>Check back in a bit about our sponsorship package. Sorry for any inconviences. 
                If you need to get in contact with us, try to the contact tab.
            </p>
        </div>
    </body>
</html>