<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet' type = 'text/css' href = '/assets/style.css'/>
        <script>
            window.onload = function(){
                let elems = document.getElementsByClassName('.sub-nav');
                for(let i = 0; i<elems.length; i++)
                {
                    if(elems[i].parentElement.href == window.location.href)
                    {
                        elems[i].id = 'current';
                    }
                }
            };
        </script>
    </head>

    <body>
        <span id = 'logo'> <img src = '/assets/website-logo.png' style = 'max-height:200px; max-width:140px;'/> </span>
        <ul id = 'nav'>
            
            <a href = '/'><span class = 'sub-nav'><span>Home</span></span></a>

            <span class='sub-nav dropdown'>
                <a href = '/about'><span>About</span></a>
                <div class = 'dropDownContent'>
                    <a href = '/about'>About Us</a>
                    <a href = '/about/first'>FIRST</a>
                    <a href = '/about/history'>History</a>
                    <a href = '/about/robot'>Our Robot</a>
                </div>
            </span>

            <span class = 'sub-nav dropdown'>
                <a href = '/contact'><span>Contact</span></a>
                <div  class='dropDownContent'>
                    <a href = '/contact'>Contact Us</a>
                    <a href = '/contact/socialmedia'>Social Media</a>
                </div>
            </span>

            <span class='sub-nav dropdown'>
                <a href = '/updates'><span>Updates</span></a>
                <div class='dropDownContent'>
                    <a href = '/updates'>Posts</a>
                    <a href = '/updates/stream'>Competition Stream</a>
                    <a href = '/updates/calendar'>Calendar</a>
                </div>
            </span>

            <span class='sub-nav dropdown'>
                <a href = '/sponsors'><span>Sponsors</span></a>
                <div class = 'dropDownContent'>
                    <a href = '/sponsors'>Our Sponsors</a>
                    <a href = '/sponsors/info'>Info</a>
                </div>
            </span>

            <span class = 'sub-nav dropdown'>
                <a href = '/resources'><span>Resources</span></a>
                <div class='dropDownContent'>
                    <a href = '/resources/software'>Software</a>
                    <a href = '/resources/safety'>Safety</a>
                </div>
            </span>

            <a href = '/scoutingdata'><span class = 'sub-nav'><span>Database</span></span></a>

        </ul>
    </body>
</html>