<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet' type = 'text/css' href = '/assets/style.css'/>
        <script>
            window.onload = function(){
                let elems = document.getElementsByClassName('sub-nav');
                for(let i = 0; i<elems.length; i++)
                {
                    if(elems[i].parentElement.href == window.location.href)
                    {
                        elems[i].id = 'current';
                    }
                }
            };

            function dropDownShow()
            {
                document.getElementById('resourcesDropDown').classList.remove('hidden');
            }

            function dropDownHide()
            {
                document.getElementById('resourcesDropDown').classList.add('hidden');
            }
        </script>
    </head>

    <body>
        <span id='logo'> <img src='/assets/website-logo.png' style='max-height:200px; max-width:140px;'/> </span>
        <ul id='nav'>
            <a href='/'><span class = 'sub-nav'>Home</span></a>
            <a href='/about'><span class = 'sub-nav'>About</span></a>
            <a href='/contact'><span class = 'sub-nav'>Contact</span></a>
            <span id='dropdown' class ='sub-nav' onmouseover="dropDownShow()" onmouseout="dropDownHide()">
                <span>Resources</span>
                <div id='resourcesDropDown' class='hidden'>
                    <a href='/resources/software'>Software</a>
                    <a href='/resources/electronics'>Electronics</a>
                    <a href='/resources/hardware'>Hardware</a>
                    <a href='/resources/safety'>Safety</a>
                </div>
            </span>
        </ul>
    </body>
</html>