<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet' type = 'text/css' href = '/assets/style.css'/>
        <script>
            window.onload = function(){
                let elems = document.getElementsByClassName('sub-nav');
                for(let i = 0; i<elems.length; i++)
                {
                    if(elems[i].parentElement.href == window.location.href)
                    {
                        elems[i].id = 'current';
                    }
                }
            };
        </script>
    </head>

    <body>
        <div id='nav'>
            <div> <h1> LOGO </h1> </div>
            <a href='/'><div class = 'sub-nav'> <p>Home</p> </div></a>
            <a href = '/contact'><div class = 'sub-nav'> <p>Contact Us</p></div></a>
            <a href = '/about'><div class = 'sub-nav'><p>About</p></div></a>
        </div>
    </body>
</html>