<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet' type = 'text/css' href = '/assets/style.css'/>
        <script>
            window.onload = function(){
                let elems = document.getElementsByClassName('sub-nav');
                for(let i = 0; i<elems.length; i++)
                {
                    if(elems[i].parentElement.href == window.location.href)
                    {
                        elems[i].id = 'current';
                    }
                }
            };
        </script>
    </head>

    <body>
        <span id='logo'> <img src='/assets/website-logo.png' style='max-height:200px; max-width:140px;'/> </span>
        <ul id='nav'>
            <a href='/'><li class = 'sub-nav'>Home</li></a>
            <a href='/about'><li class = 'sub-nav'>About</li></a>
            <a href='/contact'><li class = 'sub-nav'>Contact</li></a>
        </ul>
    </body>
</html>