<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet' type = 'text/css' href = '/assets/style.css'/>
        <title>Red Rock Robotics</title>
        
    </head>

    <body>
        <% include ../partial/nav.ejs %>

        <div id = 'container'>
            <h1>Posts</h1>
            <% for(let i = 0; i < postArray.length; i++) { %>
                <p><%= body.slice(postArray[i][0], postArray[i][1])%></p>
            <% } %>
        </div>
    </body>
</html>