<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet' type = 'text/css' href = '/assets/style.css'/>
        <title>Red Rock Robotics</title>
    </head>

    <body>
        <% include ../partial/nav.ejs %>

        <div id = 'container'>
            <h1>Posts</h1>
            <% for(let i = 0; i < posts.length; i++) { %>
                <span>Date: <%= posts[i][0] %></span>
                <% for(let j = 0; j < posts[i][1].length; j++) { %>
                    <p><%= posts[i][1][j].textContent %></p>
                <% } %>
            <% } %>
        </div>
    </body>
</html>