<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet' type = 'text/css' href = '/assets/style.css'/>
        <title>Red Rock Robotics</title>
    </head>

    <body>
        <% include ../partial/nav.ejs %>

        <div id = 'container'>
            <h1>Posts</h1>
            <%
            let posts = new Array();
            let content = fbDoc.getElementsByClassName('_5pbx userContent'); 
            for(let i = 0; i < content.length; i++)
            {
                let temp = content[i].getElementsByTagName('p');
                let finalP = '';
                for(let j = 0; j < temp.length; j++)
                {
                    finalP += temp[j].textContent;
                }
                posts.push(finalP);
            }
            for(let i = 0; i < posts.length; i++) { %>
                <p><%= posts[i]%></p>
            <% } %>
        </div>
    </body>
</html>