<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet' type = 'text/css' href = '/assets/style.css'/>
        <title>Red Rock Robotics</title>
        
    </head>

    <body>
        <% include ../partial/nav.ejs %>

        <div id = 'container'>
            <h1>Streaming</h1>

            <p>We aren't streaming anything right now, check back in 2018 for the Utah Regional.</p>
        </div>
    </body>
</html>